@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    /* width: 70%; */
    /* margin: 2px 0px; */
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlist{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    
}

.logo{
    width: 70px;
    height: 70px;
    /* margin-right: 28px; */
    border: 1px solid white;
    /* margin: 4px 0; */
    border-radius: 50px;
   
}

.items{
    list-style: none;
    margin: 0 28px;
    padding: 12px;
    font-size: 22px;
    
}

.items a{
    text-decoration: none;
    color: white;
   
}

.right-nav{
    /* display: flex; */
    /* position: absolute; */
    /* float: left; */
text-align: right;
width: 30%;
margin: 4px 24px;

}

.search-box{
    height:28px;
    width: 200px;
    /* margin: 31px 3px; */
    border: 2px solid white;
    border-radius: 6px;
}

.btn-rc{
    /* margin-right: 16px; */
    height: 32px;
    width: 80px;
    border: 2px solid white;
    /* font-size: 18px; */
    border-radius: 6px;
    /* vertical-align: middle; */
    background: none;
    color: white;
    cursor: pointer;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}



.wedImage{
height: 150px;
width: 150px;
border: 2px solid white;
    border-radius: 120px;
    display: block;
    margin: auto;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55%;
    margin: auto;
    /* margin-top: 30px; */
    height: 85%;
}

.firstSection{
    height: 100vh;
}

/* .firstHalf{
  
    
} */
.secondHalf{
    
   margin: 10px;
}

.btn{
    height: 32px;
    width: 80px;
    border: 2px solid white;
    /* font-size: 17px; */
    border-radius: 6px;
    font-size: 18px;
    margin: 8px 0;
    cursor: pointer;
    background: none;
    color: white;
}

.textBig{
    font-size: 35px;

}

.textSmall{
    font-size: 18px;
}

.thumbnail img{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 45px;
}

.section{
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 80%;
    margin: 22px auto;
}

.left{
    flex-direction: row-reverse;
}

.paras{
     padding: 0 50px;
}

.sectionTag{
    font-family: 'Ubuntu', sans-serif;
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact{
    background-color: rgb(243, 240, 235);
    height: 90vh;
}

.contact h2{
    text-align: center;
   padding-top: 22px;
   font-size: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
     display: flex;
     flex-direction: column;
     max-width: 600px;
     margin: 20px auto;
}

.form-input{
    margin: 12px;
    padding: 8px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 10px;
}

.btn-contact{
    width: 100px;
    margin: auto;
    height: 30px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.text-footer{
    
    text-align: center;
   padding: 20px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
    
}

.burger{
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 5px;
}

